In [1]:
import pandas as pd

In [2]:
credits = pd.read_csv("tmdb_5000_credits.csv")
movies = pd.read_csv("tmdb_5000_movies.csv")

In [3]:
df = movies.merge(credits,on='title')
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [4]:
df = df[['title','overview','genres','keywords','cast','crew','movie_id']]
df.head(1)

,title,overview,genres,keywords,cast,crew,movie_id
0,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995

In [5]:
df.dropna(inplace=True)

In [6]:
import ast

def convert(text):
    return [item['name'] for item in ast.literal_eval(text)]

In [7]:
df['genres'] = df['genres'].apply(convert)
df['keywords'] = df['keywords'].apply(convert)
df['cast'] = df['cast'].apply(convert)

In [8]:
df['cast'] = df['cast'].apply(lambda x:x[0:3])

In [9]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [10]:
df['crew'] = df['crew'].apply(fetch_director)

In [11]:
df.head(1)

,title,overview,genres,keywords,cast,crew,movie_id
0,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],19995

In [12]:
def collapse(L):
    L1 = []
   
    for i in L:
        L1.append(i.replace(" ",""))
    L1 = ', '.join(L1)
    return L1

In [13]:
df['cast'] = df['cast'].apply(collapse)
df['crew'] = df['crew'].apply(collapse)
df['genres'] = df['genres'].apply(collapse)
df['keywords'] = df['keywords'].apply(collapse)

In [14]:
df.head(1)

,title,overview,genres,keywords,cast,crew,movie_id
0,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, ScienceFiction","cultureclash, future, spacewar, spacecolony, s...","SamWorthington, ZoeSaldana, SigourneyWeaver",JamesCameron,19995

In [15]:
df['feature'] = df['overview'] +' '+ df['genres'] + ' '+ df['keywords'] + ' '+ df['cast'] +' '+ df['crew']

In [16]:
df['feature'] = df['feature'].str.lower()
df['title'] = df['title'].str.lower()

In [17]:
essential_col = ['title','feature','movie_id']
df = df[essential_col]

In [18]:
df

,title,feature,movie_id
0,avatar,"in the 22nd century, a paraplegic marine is di...",19995
1,pirates of the caribbean: at world's end,"captain barbossa, long believed to be dead, ha...",285
2,spectre,a cryptic message from bond’s past sends him o...,206647
3,the dark knight rises,following the death of district attorney harve...,49026
4,john carter,"john carter is a war-weary, former military ca...",49529
...,...,...,...
4804,el mariachi,el mariachi just wants to play his guitar and ...,9367
4805,newlyweds,a newlywed couple's honeymoon is upended by th...,72766
4806,"signed, sealed, delivered","""signed, sealed, delivered"" introduces a dedic...",231617
4807,shanghai calling,when ambitious new york attorney sam is sent t...,126186
4808,my date with drew,ever since the second grade when he first saw ...,25975

In [19]:
df.to_csv("movies.csv", index=False)